In [2]:
import pandas as pd
import numpy as np
import re
import csv

In [96]:
#A_down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A_down/hasc-20141030-171125-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
df.shape

(1918, 4)

In [97]:
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['1','down'],index = label.columns)

for i in range(1917):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
label.shape

(1917, 2)

In [98]:
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.head()

   Unnamed: 0  subject activity     timestamp         x         y         z
0         0.0      1.0     down  1.414657e+09  0.078079 -0.224823 -0.842529
1         1.0      1.0     down  1.414657e+09  0.078079 -0.224823 -0.842529
2         2.0      1.0     down  1.414657e+09  0.078079 -0.224823 -0.842529
3         3.0      1.0     down  1.414657e+09  0.078079 -0.224823 -0.842529
4         4.0      1.0     down  1.414657e+09  0.067337 -0.228973 -0.885864

In [99]:
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-down.csv")

In [53]:
#A_flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A_flat/hasc-20141030-170529-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['1','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,1,flat,1414656334,0.397049,-0.468597,-0.723389
1,1,1,1,flat,1414656334,0.397049,-0.468597,-0.723389
2,2,2,1,flat,1414656334,0.397049,-0.468597,-0.723389
3,3,3,1,flat,1414656334,0.397049,-0.468597,-0.723389
4,4,4,1,flat,1414656334,0.374100,-0.470184,-0.703491

In [56]:
raw.shape

(2797, 8)

In [57]:
#A_up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A_up/hasc-20141030-171052-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['1','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)

cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,1,up,1.414657e+09,0.129227,-0.298798,-0.888184
1,1,1,1,up,1.414657e+09,0.129227,-0.298798,-0.888184
2,2,2,1,up,1.414657e+09,0.129227,-0.298798,-0.888184
3,3,3,1,up,1.414657e+09,0.124954,-0.297943,-0.884766
4,4,4,1,up,1.414657e+09,0.143509,-0.290131,-0.901001

In [58]:
#B_down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B_down/hasc-20141030-181551-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['2','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,2,down,1.414661e+09,0.021317,-0.516693,-0.751343
1,1,1,2,down,1.414661e+09,0.021317,-0.516693,-0.751343
2,2,2,2,down,1.414661e+09,0.021317,-0.516693,-0.751343
3,3,3,2,down,1.414661e+09,0.036819,-0.506683,-0.801758
4,4,4,2,down,1.414661e+09,0.036819,-0.506683,-0.801758

In [59]:
#Bflat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B_flat/hasc-20141030-180927-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['2','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,2,flat,1.414660e+09,0.117996,-0.451996,-0.860474
1,1,1,2,flat,1.414660e+09,0.117996,-0.451996,-0.860474
2,2,2,2,flat,1.414660e+09,0.117996,-0.451996,-0.860474
3,3,3,2,flat,1.414660e+09,0.127151,-0.452118,-0.859497
4,4,4,2,flat,1.414660e+09,0.127151,-0.452118,-0.859497

In [60]:
#B-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B_up/hasc-20141030-181528-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['2','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,2,up,1.414661e+09,0.078323,-0.531464,-0.781494
1,1,1,2,up,1.414661e+09,0.082474,-0.529144,-0.781128
2,2,2,2,up,1.414661e+09,0.082474,-0.529144,-0.781128
3,3,3,2,up,1.414661e+09,0.082474,-0.529144,-0.781128
4,4,4,2,up,1.414661e+09,0.085403,-0.515472,-0.809082

In [62]:
#C-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C_down/hasc-20141126-171752-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['3','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,3,down,1.416990e+09,0.039993,-0.460419,-0.856689
1,1,1,3,down,1.416990e+09,0.039993,-0.460419,-0.856689
2,2,2,3,down,1.416990e+09,0.039993,-0.460419,-0.856689
3,3,3,3,down,1.416990e+09,0.039993,-0.460419,-0.856689
4,4,4,3,down,1.416990e+09,0.018997,-0.467865,-0.851318

In [63]:
#C-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C_flat/hasc-20141126-171250-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['3','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-flat.csv")
raw.head()

   Unnamed: 0  Unnamed: 0.1  subject activity     timestamp    x    y    z
0           0             0        3     flat  1.416990e+09  0.0  0.0  0.0
1           1             1        3     flat  1.416990e+09  0.0  0.0  0.0
2           2             2        3     flat  1.416990e+09  0.0  0.0  0.0
3           3             3        3     flat  1.416990e+09  0.0  0.0  0.0
4           4             4        3     flat  1.416990e+09  0.0  0.0  0.0

In [64]:
#C-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C_up/hasc-20141126-171718-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['3','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,3,up,1.416990e+09,-0.156296,-0.393158,-0.892212
1,1,1,3,up,1.416990e+09,-0.156296,-0.398407,-0.889282
2,2,2,3,up,1.416990e+09,-0.156296,-0.398407,-0.889282
3,3,3,3,up,1.416990e+09,-0.156296,-0.398407,-0.889282
4,4,4,3,up,1.416990e+09,-0.157761,-0.391693,-0.882812

In [65]:
#D-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D_down/hasc-20141021-222154-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['4','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,4,down,1.414153e+09,-0.093674,-0.555756,-0.672729
1,1,1,4,down,1.414153e+09,-0.121994,-0.526947,-0.636230
2,2,2,4,down,1.414153e+09,-0.121994,-0.526947,-0.636230
3,3,3,4,down,1.414153e+09,-0.121994,-0.526947,-0.636230
4,4,4,4,down,1.414153e+09,-0.121994,-0.526947,-0.636230

In [66]:
#D-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D_flat/hasc-20141024-210528-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['4','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,4,flat,1.414152e+09,-0.043015,-0.672577,-0.760132
1,1,1,4,flat,1.414152e+09,-0.043015,-0.672577,-0.760132
2,2,2,4,flat,1.414152e+09,-0.043015,-0.672577,-0.760132
3,3,3,4,flat,1.414152e+09,-0.043015,-0.672577,-0.760132
4,4,4,4,flat,1.414152e+09,-0.043015,-0.672577,-0.760132

In [67]:
#D-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D_up/hasc-20141021-222207-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['4','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,4,up,1.414153e+09,0.053421,-0.739594,-0.728760
1,1,1,4,up,1.414153e+09,0.042068,-0.723846,-0.703003
2,2,2,4,up,1.414153e+09,0.042068,-0.723846,-0.703003
3,3,3,4,up,1.414153e+09,0.042068,-0.723846,-0.703003
4,4,4,4,up,1.414153e+09,0.045731,-0.669647,-0.701172

In [68]:
#E-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E_down/hasc-20141208-182434-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['5','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,5,down,1.418031e+09,-0.033493,-0.446503,-0.861694
1,1,1,5,down,1.418031e+09,-0.033493,-0.446503,-0.861694
2,2,2,5,down,1.418031e+09,-0.033493,-0.446503,-0.861694
3,3,3,5,down,1.418031e+09,-0.033493,-0.446503,-0.861694
4,4,4,5,down,1.418031e+09,-0.038376,-0.458954,-0.885742

In [69]:
#E-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E_flat/hasc-20141208-181750-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['5','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,5,flat,1.418030e+09,0.090042,-0.284027,-0.928101
1,1,1,5,flat,1.418030e+09,0.092728,-0.287201,-0.936768
2,2,2,5,flat,1.418030e+09,0.092728,-0.287201,-0.936768
3,3,3,5,flat,1.418030e+09,0.092728,-0.287201,-0.936768
4,4,4,5,flat,1.418030e+09,0.092117,-0.277679,-0.928345

In [70]:
#E-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E_up/hasc-20141208-182407-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['5','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,5,up,1.418031e+09,0.000000,0.000000,0.000000
1,1,1,5,up,1.418031e+09,0.051224,-0.234711,-0.964844
2,2,2,5,up,1.418031e+09,0.048660,-0.235687,-0.964356
3,3,3,5,up,1.418031e+09,0.048660,-0.235687,-0.964356
4,4,4,5,up,1.418031e+09,0.048660,-0.235687,-0.964356

In [100]:
#F-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F_down/hasc-20141208-175945-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['6','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,6,down,1.418029e+09,0.000000,0.000000,0.000000
1,1,1,6,down,1.418029e+09,0.000000,0.000000,0.000000
2,2,2,6,down,1.418029e+09,0.000000,0.000000,0.000000
3,3,3,6,down,1.418029e+09,-0.111130,-0.412689,-0.891357
4,4,4,6,down,1.418029e+09,-0.109909,-0.425384,-0.877563

In [101]:
#F-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F_flat/hasc-20141208-175451-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['6','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,6,flat,1.418029e+09,0.162796,-0.417938,-0.797119
1,1,1,6,flat,1.418029e+09,0.162796,-0.417938,-0.797119
2,2,2,6,flat,1.418029e+09,0.162796,-0.417938,-0.797119
3,3,3,6,flat,1.418029e+09,0.162796,-0.417938,-0.797119
4,4,4,6,flat,1.418029e+09,0.249832,-0.386200,-0.803833

In [73]:
#F-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F_up/hasc-20141208-175923-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['6','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,6,up,1.418029e+09,-0.221481,-0.393036,-0.945679
1,1,1,6,up,1.418029e+09,-0.221481,-0.393036,-0.945679
2,2,2,6,up,1.418029e+09,-0.221481,-0.393036,-0.945679
3,3,3,6,up,1.418029e+09,-0.221481,-0.393036,-0.945679
4,4,4,6,up,1.418029e+09,-0.236130,-0.380951,-1.009888

In [82]:
#G-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G_down/hasc-20141119-175922-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['7','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,7,down,1.416388e+09,-0.079391,-0.593842,-0.736572
1,1,1,7,down,1.416388e+09,-0.079391,-0.593842,-0.736572
2,2,2,7,down,1.416388e+09,-0.079391,-0.593842,-0.736572
3,3,3,7,down,1.416388e+09,-0.087570,-0.600922,-0.729004
4,4,4,7,down,1.416388e+09,-0.087570,-0.600922,-0.729004

In [81]:
#G-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G_flat/hasc-20141119-175128-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['7','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,7,flat,1.416387e+09,-0.158981,-0.255951,-0.938843
1,1,1,7,flat,1.416387e+09,-0.163010,-0.276337,-0.937866
2,2,2,7,flat,1.416387e+09,-0.163010,-0.276337,-0.937866
3,3,3,7,flat,1.416387e+09,-0.163010,-0.276337,-0.937866
4,4,4,7,flat,1.416387e+09,-0.163010,-0.276337,-0.937866

In [76]:
#G-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G_up/hasc-20141119-175854-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['7','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,7,up,1.416388e+09,-0.044846,-0.530487,-0.813110
1,1,1,7,up,1.416388e+09,-0.044846,-0.530487,-0.813110
2,2,2,7,up,1.416388e+09,-0.044846,-0.530487,-0.813110
3,3,3,7,up,1.416388e+09,-0.044846,-0.530487,-0.813110
4,4,4,7,up,1.416388e+09,-0.051926,-0.538177,-0.822632

In [83]:
#H-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H_down/hasc-20141128-161236-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['8','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,8,down,1.417159e+09,0.037918,-0.459076,-0.803711
1,1,1,8,down,1.417159e+09,0.025467,-0.451263,-0.793701
2,2,2,8,down,1.417159e+09,0.025467,-0.451263,-0.793701
3,3,3,8,down,1.417159e+09,0.025467,-0.451263,-0.793701
4,4,4,8,down,1.417159e+09,0.025467,-0.451263,-0.793701

In [84]:
#H-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H_flat/hasc-20141128-160516-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['8','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,8,flat,1.417158e+09,0.116653,-0.574554,-0.829956
1,1,1,8,flat,1.417158e+09,0.116653,-0.574554,-0.829956
2,2,2,8,flat,1.417158e+09,0.116653,-0.574554,-0.829956
3,3,3,8,flat,1.417158e+09,0.116653,-0.574554,-0.829956
4,4,4,8,flat,1.417158e+09,0.102127,-0.550751,-0.811401

In [80]:
#H-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H_up/hasc-20141128-161213-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['8','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,8,up,1.417159e+09,0.025467,-0.388885,-0.829956
1,1,1,8,up,1.417159e+09,0.025467,-0.388885,-0.829956
2,2,2,8,up,1.417159e+09,0.025467,-0.388885,-0.829956
3,3,3,8,up,1.417159e+09,0.005325,-0.428802,-0.894287
4,4,4,8,up,1.417159e+09,0.005325,-0.428802,-0.894287

In [85]:
#I-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I_down/hasc-20141128-173736-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['9','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,9,down,1.417164e+09,-0.03508,-0.269989,-0.772949
1,1,1,9,down,1.417164e+09,-0.03508,-0.269989,-0.772949
2,2,2,9,down,1.417164e+09,-0.03508,-0.269989,-0.772949
3,3,3,9,down,1.417164e+09,-0.03508,-0.269989,-0.772949
4,4,4,9,down,1.417164e+09,-0.03508,-0.269989,-0.772949

In [86]:
#I-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I_flat/hasc-20141128-173014-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['9','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,9,flat,1.417163e+09,0.106155,-0.418671,-0.895264
1,1,1,9,flat,1.417163e+09,0.106766,-0.422455,-0.898682
2,2,2,9,flat,1.417163e+09,0.106766,-0.422455,-0.898682
3,3,3,9,flat,1.417163e+09,0.106766,-0.422455,-0.898682
4,4,4,9,flat,1.417163e+09,0.100906,-0.435150,-0.898682

In [87]:
#I-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I_up/hasc-20141128-173707-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['9','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,9,up,1.417164e+09,0.000000,0.000000,0.000000
1,1,1,9,up,1.417164e+09,0.112625,-0.458344,-0.852661
2,2,2,9,up,1.417164e+09,0.112625,-0.458344,-0.852661
3,3,3,9,up,1.417164e+09,0.112625,-0.458344,-0.852661
4,4,4,9,up,1.417164e+09,0.094315,-0.476288,-0.822266

In [88]:
#J-down
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J_down/hasc-20141119-172632-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['10','down'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-down.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-down.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,10,down,1.416386e+09,-0.128098,-0.455048,-0.874512
1,1,1,10,down,1.416386e+09,-0.125168,-0.456390,-0.862427
2,2,2,10,down,1.416386e+09,-0.125168,-0.456390,-0.862427
3,3,3,10,down,1.416386e+09,-0.125168,-0.456390,-0.862427
4,4,4,10,down,1.416386e+09,-0.120041,-0.462372,-0.880859

In [95]:
#J-flat
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J_flat/hasc-20141119-171942-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['10','flat'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-flat.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-flat.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,10,flat,1.416385e+09,-0.016037,-0.405853,-0.872803
1,1,1,10,flat,1.416385e+09,-0.016037,-0.405853,-0.872803
2,2,2,10,flat,1.416385e+09,-0.016037,-0.405853,-0.872803
3,3,3,10,flat,1.416385e+09,-0.016037,-0.405853,-0.872803
4,4,4,10,flat,1.416385e+09,-0.008102,-0.404144,-0.879395

In [94]:
#J-up
df =pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J_up/hasc-20141119-172603-acc.csv",sep = ',',names = ['timestamp','x','y','z'])
label = pd.DataFrame(index = [], columns = ['subject','activity'])
series = pd.Series(['10','up'],index = label.columns)

for i in range(df.shape[0]):
    label = label.append(series, ignore_index=True)

label.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/label.csv")
cat = pd.concat([df2,df],axis = 1)
cat.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-up.csv")
raw = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-up.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0,10,up,1.416386e+09,-0.060104,-0.433441,-0.907715
1,1,1,10,up,1.416386e+09,-0.060104,-0.433441,-0.907715
2,2,2,10,up,1.416386e+09,-0.060104,-0.433441,-0.907715
3,3,3,10,up,1.416386e+09,-0.054611,-0.431976,-0.914551
4,4,4,10,up,1.416386e+09,-0.045944,-0.410126,-0.900391

In [111]:
df = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-flat.csv")
df2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-down.csv")
df3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-up.csv")

df4 = pd.concat([df,df2,df3])

In [106]:
df.shape

(2797, 8)

In [107]:
df2.shape

(1918, 8)

In [109]:
df.shape[0]+df2.shape[0]

4715

In [112]:
df4.head()

,Unnamed: 0,Unnamed: 0.1,subject,activity,timestamp,x,y,z
0,0,0.0,1.0,flat,1.414656e+09,0.397049,-0.468597,-0.723389
1,1,1.0,1.0,flat,1.414656e+09,0.397049,-0.468597,-0.723389
2,2,2.0,1.0,flat,1.414656e+09,0.397049,-0.468597,-0.723389
3,3,3.0,1.0,flat,1.414656e+09,0.397049,-0.468597,-0.723389
4,4,4.0,1.0,flat,1.414656e+09,0.374100,-0.470184,-0.703491

In [113]:
df4.shape

(6699, 8)

In [116]:
#10 subjects + 3 activities
A = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-flat.csv")
A2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-down.csv")
A3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/A-up.csv")

B = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-flat.csv")
B2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-down.csv")
B3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/B-up.csv")

C = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-flat.csv")
C2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-down.csv")
C3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/C-up.csv")

D = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-flat.csv")
D2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-down.csv")
D3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/D-up.csv")

E = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-flat.csv")
E2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-down.csv")
E3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/E-up.csv")

F = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-flat.csv")
F2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-down.csv")
F3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/F-up.csv")

G = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-flat.csv")
G2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-down.csv")
G3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/G-up.csv")

H = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-flat.csv")
H2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-down.csv")
H3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/H-up.csv")

I = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-flat.csv")
I2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-down.csv")
I3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/I-up.csv")

J= pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-flat.csv")
J2 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-down.csv")
J3 = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/J-up.csv")

In [119]:
#all data
all = pd.concat([A,A2,A3,B,B2,B3,C,C2,C3,D,D2,D3,E,E2,E3,F,F2,F3,G,G2,G3,H,H2,H3,I,I2,I3,J,J2,J3])
all.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/acc_raw.csv")

In [135]:
total = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/acc_raw.csv")
total.shape

(64955, 7)

In [136]:
total.head()

   Unnamed: 0  subject activity     timestamp         x         y         z
0           0      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
1           1      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
2           2      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
3           3      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
4           4      1.0     flat  1.414656e+09  0.374100 -0.470184 -0.703491

In [137]:
#delete row
tst = total.drop("Unnamed: 0",axis = 1)

tst.to_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/acc_raw.csv")

In [138]:
cce = pd.read_csv("/home/deepstation/PRMLlab/technicakidz/Data/ABHI-MWS/acc_raw.csv")
cce.head()

   Unnamed: 0  subject activity     timestamp         x         y         z
0           0      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
1           1      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
2           2      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
3           3      1.0     flat  1.414656e+09  0.397049 -0.468597 -0.723389
4           4      1.0     flat  1.414656e+09  0.374100 -0.470184 -0.703491