In [1]:
import pandas as pd
import numpy as np
import re
import csv

In [13]:
f = open("/Users/yoshidatakayuki/Data/actitracker_raw.txt","r")#元ファイル
out_f = open("/Users/yoshidatakayuki/Data/actitracker_raw2.csv","w")#書き出しファイル

In [15]:
# -*- coding:utf-8 -*-
# 書き出し用ファイルのヘッダーを記述
out_f.write("subject,activity,timestamp,x,y,z\n")

# 元ファイルのレコード部分をreadlinesメソッドで全行を読み取る
lines = f.readlines()

# for文で1行ずつ取得
for line in lines:
    # 改行コードをブランクに置換
    line = line.replace("\n","")
    # カンマ区切りでリストに変換する
    line = line.split(",")
    # 変換後のカンマ区切りの雛形を作り、変換処理した値を入れ込む
    row = "{},{},{},{},{},{}\n".format(
        line[0],
        line[1],
        line[2],
        line[3],
        line[4],
        line[5].replace(";","")
        )
    # 書き出し用のファイルに出力
    out_f.write(row)

# ２つのファイルを閉じる
f.close()
out_f.close()

In [17]:
f2 = pd.read_csv("/Users/yoshidatakayuki/Data/actitracker_raw2.csv")

/Users/yoshidatakayuki/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
f2.shape #raw data status

(281874, 6)

In [21]:
f_w = f2[f2['activity'] == "Walking"]
f_w.head()

    subject activity       timestamp         x        y         z
597      33  Walking  49394992294000  0.844462  8.00876   2.79217
598      33  Walking  49395102310000   1.11687  8.62168   3.78646
599      33  Walking  49395202316000 -0.503953  16.6577   1.30755
600      33  Walking  49395302292000   4.79436  10.7601  -1.18497
601      33  Walking  49395412338000 -0.040861   9.2346 -0.694638

In [23]:
f_w.to_csv("/Users/yoshidatakayuki/Data/actitracker_walk.csv")