In [31]:
import pandas as pd
import numpy as np
import re
import csv

In [60]:
f = open("/Users/name/Data/actitracker_raw.txt","r")#元ファイル
out_f = open("/Users/name/Data/actitracker_raw2.csv","w")#書き出しファイル

In [62]:
# -*- coding:utf-8 -*-
# 書き出し用ファイルのヘッダーを記述
out_f.write("subject, activity, timestamp, x, y, z\n")

# 元ファイルのレコード部分をreadlinesメソッドで全行を読み取る
lines = f.readlines()

# for文で1行ずつ取得
for line in lines:
    # 改行コードをブランクに置換
    line = line.replace("\n","")
    # カンマ区切りでリストに変換する
    line = line.split(",")
    # 変換後のカンマ区切りの雛形を作り、変換処理した値を入れ込む
    row = "{},{},{},{},{},{}\n".format(
        line[0],
        line[1],
        line[2],
        line[3],
        line[4],
        line[5].replace(";","")
        )
    # 書き出し用のファイルに出力
    out_f.write(row)

# ２つのファイルを閉じる
f.close()
out_f.close()

In [63]:
f2 = pd.read_csv("/Users/name/Data/actitracker_raw2.csv")
f2.head()

/Users/yoshidatakayuki/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  subject  activity       timestamp         x        y          z
0      33   Jogging  49105962326000 -0.694638  12.6805   0.503953
1      33   Jogging  49106062271000   5.01229   11.264   0.953424
2      33   Jogging  49106112167000   4.90332  10.8827 -0.0817221
3      33   Jogging  49106222305000 -0.612916  18.4964    3.02372
4      33   Jogging  49106332290000  -1.18497  12.1085    7.20516

In [64]:
f2.shape #raw data status

(281874, 6)

                   subject,activity,timestamp,x,y,z;
0  33,Jogging,49105962326000,-0.6946377,12.680544...
1  33,Jogging,49106062271000,5.012288,11.264028,0...
2  33,Jogging,49106112167000,4.903325,10.882658,-...
3  33,Jogging,49106222305000,-0.61291564,18.49643...
4  33,Jogging,49106332290000,-1.1849703,12.108489...

In [68]:
f_w = f2[f2.activity = "Walking"]
f_w

SyntaxError: invalid syntax (<ipython-input-68-fe087f32cb6e>, line 1)