## WISDM raw data

In [1]:
#read raw data
import re
import pandas as pd
import numpy as np

df = pd.read_table('/Users/yoshidatakayuki/Data/WISDM/share/data/public_sets/WISDM_at_v2.0/WISDM_at_v2.0_raw.txt')
df.shape

(3005410, 1)

In [2]:
df[:5]

  1679,Walking,1370520469556,0.2941316,-0.6356053,-0.22693644;
0  1679,Walking,1370520469606,-0.49968776,-0.6044...
1  1679,Walking,1370520469656,-2.1783454,0.713490...
2  1679,Walking,1370520469706,-2.7977629,1.354899...
3  1679,Walking,1370520469756,-2.1679606,-1.32771...
4  1679,Walking,1370520469806,-1.7348573,0.818559...